* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/*----------- header part--------------- */

.banner-container img {
    width: 100%;
    height: 100%;
}


.banner-container h1 {
    position: absolute;
    font-weight: bolder;
    top: 30%;
    bottom: 50%;
    left: 1000px;
}

.image-text1 {
    color: #FFFFFF;
    position: absolute;
    font-weight: bolder;
    top: 30%;
    bottom: 50%;
    left: 1000px;
}

.image-text2 {
    color: #FFFFFF;
    position: absolute;
    font-weight: bolder;
    top: 50%;
    bottom: 50%;
    left: 1000px;
}

.button-container1 {
    position: absolute;
    font-weight: bolder;
    top: 70%;
    bottom: 50%;
    left: 1000px;
}

.button-container1 button {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
}

/* --------------------main part---------- */

/* First part */

.container {
    margin-top: 150px;
    padding-left: 200px;
    padding-right: 320px;
}


.divided-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.text-resize {
    font-weight: 700;
}

.paragraph-position {
    margin-top: 24px;
}

.text-position {
    margin-top: 16px;
}

/* Second part  */

.plans-container {
    margin-top: 150px;
}

.next-heading {
    text-align: center;
    margin-bottom: 50px;
}

.my-plans {
    display: flex;
    justify-content: space-between;
}

/* Third part */

.imageGradient-container {
    margin-top: 130px;
    position: relative;

}

.imageGradient-container img {
    width: 100%;
    height: 100%;
    opacity: 0.6;
}


.imageGradient-container h3 {
    position: absolute;
    font-weight: bolder;
    top: 50%;
    bottom: 50%;
    left: 64px;
}

.image-text {
    position: absolute;
    font-weight: bolder;
    top: 50%;
    bottom: 50%;
    left: 64px;
}

.button-container {
    position: absolute;
    font-weight: bolder;
    top: 70%;
    bottom: 50%;
    left: 64px;
}

.button-container button {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
}

/* Bonus Part */

.bonus-container {
    margin-top: 150px;
    padding-left: 200px;
    padding-right: 320px;
}

.bonus-heading {
    text-align: center;
    margin-bottom: 40px;
}

.all-games {
    display: flex;
    gap: 20px;
}

.game-name {
    border: 1px solid blue;
    border-radius: 5px;
    padding: 5px;
}

.game-heading {
    font-size: medium;
    margin-bottom: 10px;
}

.game-btn {
    margin-top: 10px;
    padding: 10px;
    background: #005FAC;
    color: #FFFFFF;
    border-radius: 5px;
    border: 0;
}

.all-games img {
    width: 100%;
    border-radius: 5px;
}

/*------------------ Footer part-------------  */

.footer-container {
    display: flex;
    padding: 100px;
    padding-left: 200px;
    padding-right: 320px;
    margin-top: 130px;
    background: #151414;
    gap: 120px;
}

.footer-heading {
    color: aliceblue;
}

.footer-text {
    color: aliceblue;
    margin-top: 16px;
}

.footer-icon {
    font-weight: bolder;
    font-size: larger;
    margin-top: 30px;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
}

.footer-subscription {
    color: aliceblue;
}

.subscribe-margin {
    margin-bottom: 30px;
}

.subscribe-email {
    padding: 10px;
    border: 0;
    border-radius: 5px;
}

.subscribe-btn {
    background: #005FAC;
    color: #FFFFFF;
    margin-top: 16px;
    padding: 10px;
    border: 0;
    border-radius: 5px;
}