* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* header part */

.img-resize {
    width: 100%;
}

/* main part  */

.container {
    margin-top: 150px;
    padding-left: 200px;
    padding-right: 320px;
}

.divided-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.text-resize {
    font-weight: 700;
}

.paragraph-position {
    margin-top: 24px;
}

.text-position {
    margin-top: 16px;
}

/* next part  */

.plans-container {
    margin-top: 150px;
}

.next-heading {
    text-align: center;
    margin-bottom: 50px;
}

.my-plans {
    display: flex;
    justify-content: space-between;
}